[Desktop Entry]
Name=ViperGirls Viewer
Comment=Photo sets viewer
Exec=/opt/vipergirls-viewer/backend/run.sh
Icon=vipergirls-viewer
Terminal=false
Type=Application
Categories=Network;
StartupWMClass=vipergirls-viewer
